@use "@styles/mixins" as *;
@use "@styles/variables" as *;

.navigation {
  @include setDisplay(flex, center, space-between, row);
  flex-wrap: wrap;
  text-transform: capitalize;

  .burger {
    @include setDisplay(none, center, center, column);
    gap: 5px;
    z-index: 2;

    div {
      width: 30px;
      height: 4px;
      background-color: $cl-black;
      border-radius: 99px;
    }
  }

  .logo {
    z-index: 2;
    text-align: center;
    overflow-wrap: break-word;
  }

  &__menu {
    @include setDisplay();
    gap: 45px;
    margin-left: auto;

    ul {
      @include setDisplay(flex, center, center, row);
      gap: 30px;
      color: $cl-black-mid;

      li {
        @include setTransition();

        &:hover {
          color: $cl-black;
        }
      }
    }
  }

  @include respond(lg) {
    .burger {
      display: flex;
    }

    &__menu {
      @include setTransition();
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: $cl-white;
      flex-direction: column;
      padding: 60px 0;
      transform: translate(-100%);

      &--expanded {
        transform: translate(0);
      }

      ul {
        flex-direction: column;
        height: 100%;
        gap: 45px;

        .nav-item {
          color: $cl-black;
        }
      }
    }
  }
}
