// colors
$cl-white: #ffffff;
$cl-black-mid: #00000099;
$cl-black: #000000;
$cl-blue: #60a5fa;

// shadow
$sh-black: 0 6px 12px rgba(0, 0, 0, 0.6);

// breakpoints
$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;
