@use "@styles/mixins" as *;

.content-section {
  @include respond(lg) {
    width: 100%;
    align-items: center;
    text-align: center;
    gap: 30px;
  }

  @include setDisplay(flex, start, center, column);
  gap: 60px;
  width: 50%;
  height: 100%;
}
