@use "@styles/mixins" as *;

.hero {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;

    li {
      @include setDisplay(flex, center, start, row);
      gap: 15px;
    }
  }

  &__drv-image {
    @include respond(lg) {
      display: none;
    }

    width: 50%;
    object-fit: cover;
  }
}
